/* Zamaa Customized Styles CSS */

/*Header Class Starts*/
.zm-header{
	height: 14% !important;
	background: #0072BC;
}
.zm-header-top{
	height: 8% !important;
	background: #0072BC;
	color: white;
}
header.zm-header img{
	height: 100%;
	margin-top: -4%;
	margin-left: 10%;
	/*float: left;*/
	width: 65%;
}
input[type="search"].zm-search{
	width: 100% !important;
	float: left !important;
	margin-left: -25% !important;
	height: 48px;
}
.zm-search-dropdown{
	height: 48px;
	/*margin-top: 4% !important;*/
}
.zm-submit{
	height: 48px;
	/*margin-top: 4% !important;*/
	background: #EEC01D !important;
}
.zm-submit .search{
	color: white;
}
.zm-side-header{
	float:left !important;
	padding-left: 13% !important;
	color: white;
	/*text-align: right;*/
	margin-top: 1% !important;
}
.zm-side-header .cart{
	font-size: 50px;
	margin-right: -12px !important;
}
.zm-side-header span{
	font-size: 20px;
}
.zm-header-top-right{
	float: right !important;
	margin-top: 1% !important;
	margin-right: 3% !important;
}
.zm-header-top-right .item{
	font-size: 20px !important;
}
.zm-search-box{
	width: 46% !important;
}
/*Heading Class Ends*/

/*Container Class Stars*/
.zm-container{
	margin-top: 20px;
	margin-bottom: 50px;
}
.zm-slider img{
	/*background: red;*/
	width: 100% !important;
}
.bx-viewport img{
	min-height: 440px !important;
}
.ui.vertical.menu{
	height: 448px !important;
}
.zm-right-left-sidebar{
	height: 448px !important;
	background: #F9FEDE;
	border: 1px solid ##F9FEDE;
	-webkit-box-shadow: 0 0 8px 0 #DEDEDE;
	box-shadow: 0 0 8px 0 #DEDEDE;
}
.zm-right-left-sidebar img{
	width: 100% !important;
	height: 100%;
}
/*Container Class Ends*/

.column.zm-ad-middle{
	height: 50px !important;
	background: #644FA0;
	margin-bottom: 20px;
	margin: 0 10px 0 10px;
}
.column.zm-win-watch{
	color: #EC118E;
	text-align: center;
	font-weight: 900;
	font-size: 28px;
	text-shadow: 0px 0px 5px rgba(85, 112, 160, 1);
}
.zm-ad-product-reviews{
	color: white;
	text-align: center;
	font-weight: bold;
	margin-top: 5px;
}
.zm-ad-product-right{
	color: white;
	font-weight: bold;
}
.zm-ad-product-right img{
	vertical-align: middle;
	height: 50px;
	width: auto;
	margin-top: -14px;
}
.zm-ad-mid-year img{
	vertical-align: middle;
	height: 50px;
	width: auto;
	float: right;
	margin-top: -14px;
}
.zm-flash-deals.column{
	border-top: #E93B36 2px solid;
	margin: 0 10px 0 10px;
}
.ui.row.zm-ad-flash-deals{
	background: #EDEFEF;
}
.zm-flash-deals{
	height: 50px;
}
.zm-flash-products{
	height: 340px;
	background: red;
	margin-bottom: 20px !important;
}
.zm-tech-delivery{
	height: 340px;
	background: blue;
	margin-bottom: 20px !important;
}
.zm-flash-deals-top{
	height: 50px;
	background: gray;
	float: left;
	clear: both;
	width: 100%;
}